<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-input placeholder="escreva um numero" [(ngModel)]="valor"></ion-input>

  <ion-button (click)="testeService.setValor(0)">acessar caro</ion-button>
  <ion-list>
    <ion-card >
      
    <ion-item color="primary">
      {{ cars[valor].Name}}
     <ion-badge slot="end">{{ cars[valor].Origin }}</ion-badge>
    </ion-item>
    <ion-item>
      Km por litro : {{ cars[valor].Miles_per_Gallon }} 
    </ion-item>
    <ion-item>
      Cilindrada : {{ cars[valor].Cylinders }}
    </ion-item>
      
    </ion-card>
  </ion-list>
</ion-content>
